*{
    margin: 0px;
    padding: 0px;
    box-sizing:border-box; /*To avoid scrolling and make our webpage fit on any device i.e. webpage width=device width.By default,box-sizing:content-box; */
}
html{
    font-size: 62.5%;
}
button{
    margin: 5rem;
    padding: 2rem 4rem;
    border-radius: 5%;
    cursor: pointer;
}
/* Here below element named "button" behave as "PSEUDO CLASS". */
button:nth-child(1):hover{
    background:blue;
    /* border-radius: 50%; */
    /* cursor: pointer; */
}
button:nth-child(2):focus{
    background: rgb(10, 156, 10);
}
input:focus{
    background: rgb(13, 143, 13);
}

/* We  will now see about Pseudo element */
h2{
    font-size: 3rem;
}
h2::after{
    content: ": This is written in CSS code-editor ";
}
h2::before{
    content:"**" ;
}


